<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd …">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://download.starfiles.co/026233584b21</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>url</key>
<string> https://cdn.discordapp.com/attachments/1180374704205344868/1180953040807792650/IMG_0839.jpg?ex=657f4b39&is=656cd639&hm=40c221494606fd9ea5f5a06eb9df4f00dd4fa5cd129d33e200719cfd5edc6d13&</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>url</key>
<string> https://cdn.discordapp.com/attachments/1180374704205344868/1180953040807792650/IMG_0839.jpg?ex=657f4b39&is=656cd639&hm=40c221494606fd9ea5f5a06eb9df4f00dd4fa5cd129d33e200719cfd5edc6d13&</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>p3.xyz.yyyue.esign</string>
<key>bundle-version</key>
<string>1</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>ESign Signed By Astra</string>
</dict>
</dict>
</array>
</dict>
</plist>
